{{outlet}}
<div class="row panel">
	<div class="col s12 l4">
		<div class="card panel blue center-align white-text">
			<h4>Venta</h4>
			 <i class="material-icons large">attach_money</i>
		</div>
	</div>
	<div class="col s12 l4">
		<div class="card panel blue center-align white-text">
			<h4>Apartado</h4>
			 <i class="material-icons large">label_off</i>
		</div>
	</div>
	<div class="col s12 l4">
		<div class="card panel blue center-align white-text">
			<h4>Inventario</h4>
			 <i class="material-icons large">list</i>
		</div>
	</div>
</div>